body {
  background-color: rgb(142, 192, 200);
}

H1 {
  Color: rgb(39, 89, 98);
  Font-family: Cookie, script;
  font-size: 4rem;
  margin: 10px;
}

H2{
  color: rgb(39, 89, 98);
}

H3 {
  color: rgb(39, 89, 98);
}

P {
  Color: rgb(66, 149, 163);
  Font-family: Raleway, sans-serif;
  font-size: 1.5rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #fff;
  opacity: 0.5;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 8px;
}

#header {
  float: left;
}

.menu {
  font-size: 2rem;
  border: 5px, 0px, 5px, 0px solid rgb(39, 89, 98);
  background-color: #fff;
  opacity: 0.5;
}

.menu a {
  color: rgb(39, 89, 98);
  text-align: center;
  font-family: raleway, sans-serif;
  text-decoration: none;
}

.menu a:hover {
  background-color: none;
  color: rgb(66, 149, 163);
}

.landings {
  width:30%;
  margin:2.5%;
}

.transbox {
  background-color: #fff;
  opacity: 0.5;
}

.nav {
  background-image: url("https://ellekennedyphotography.files.wordpress.com/2017/07/img_0216-edit.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
