*{
  /*border: 1px solid #000;*/
  box-sizing: border-box;
}

body {
  background-color: rgb(142, 192, 200);
}

h1 {
  Color: rgb(39, 89, 98);
  Font-family: Cookie, script;
  font-size: 4rem;
  margin-left: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  display: inline;
}

h2{
  color: rgb(39, 89, 98);
  font-family: cookie, script;
}

h3 {
  color: rgb(66, 149, 163);
  font-family: raleway, sans-serif;
  font-size: 1.5rem;
  margin-left: 200px;
  margin-top: 0px;
  margin-bottom: 0px;
}

p {
  Color: rgb(66, 149, 163);
  Font-family: Raleway, sans-serif;
  font-size: 1.5rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

li {
  float: left;
}

li a {
  display: block;
  padding: 8px;
}

#header {
  float: left;
}

.menu {
  font-size: 2rem;
  color: rgb(39, 89, 98);
  border-top: 3px solid rgb(39, 89, 98);
  border-bottom: 3px solid rgb(39, 89, 98);
  background-color: rgba(255, 255, 255, 0.5);
}

.menu a {
  color: rgb(66, 149, 163);
  text-align: center;
  font-family: raleway, sans-serif;
  text-decoration: none;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  bottom: 60px;
}

.menu a:hover {
  color: rgb(39, 89, 98);
}

.transbox {
  background-color: rgba(255, 255, 255, 0.5);
  display: inline-block;
  width: 100%;
}

.transbox img {
  position: relative;
  left: 10px;
  top: 10px;
}

.transbox h1 {
  position: relative;
  bottom: 70px;
}

.transbox h3 {
  position: relative;
  bottom: 72px;
  left: 125px;
}

.nav {
  background-image: url("https://ellekennedyphotography.files.wordpress.com/2017/08/img_3813.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  height: 800px;
}

.landings {
  width:cover;
}

.landings a img {
  align: center;
  width: 28%;
  margin: 2.5%;
  padding: 0;
  border: 3px solid rgb(39, 89, 98);
}
